<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body{
   background-color: #FFDEE9;
background-image: linear-gradient(90deg, #FFDEE9 0%, #B5FFFC 50%, #1da9b3 100%);
}
</style>
<body>

<table border="2px">
    <tr>
        <th>uname</th>
         <th>email</th>
        <th>password</th>
        <th>confirm password</th>

    </tr>
    {% for i in a %}
    <tr>
        <td>{{i.uname}}</td>
        <td>{{i.email}}</td>
         <td>{{i.psw}}</td>

    </tr>
    {% endfor %}
</table>

</body>
</html>